
/*typography & icons*/
body {
    font-family: 'Raleway', sans-serif;
    color: #fad91c;
    background: #333;
    min-width: 300px;
}


h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
    margin: 0.5em 0;
}
header h2 {
    font-weight: 600;
    font-size: 1rem;
}

h3 {
    display: inline-block;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #fad91c;
    margin-bottom: 4em;
}
.view-more{
    text-align: center;
}

footer {
    text-align: center;
}
footer a {
    color: black;
}

header i {
    padding-right: 0.5em;
}

h4 {
    margin-bottom: 0;
}

footer p {
    opacity: 0.75;
    margin-top: 0;
}





/*layout*/
header {
    display: flex;
    align-items: center;
    padding: 1.5em;
}


.blog-post {
    padding: 1.5em;
}



footer {
    background-color: #f6f2f2;
    color: #333;
    padding: 2em;
}




/*images*/
.first-blog-post {
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    padding: 1.5em;
    padding-bottom: 2.5em;
    margin-bottom: 1em;
}

img {
    width: 100%;
    border-radius: 5px;
}



/*utitlity*/


.first-blog-post .date {
    padding-top: 50%;
}
.first-blog-post p {
    margin-bottom: 0;
}

nav {
    margin-left: auto;
    margin-right: 0;
}
nav li {
    list-style-type: none;
    display: inline;
    padding-left: 1em;
    text-transform: uppercase;
    font-size: 1.2rem;
    /* font-weight: 700; */
}
nav a {
    text-decoration: none;
    color: #fad91c;
}
.date {
    font-size: 0.8rem;
    padding-top: 1em;
}
.view-more h3 {
    cursor: pointer;
}
.burger {
    display: none;
}




/*MEDIA QUERY*/


@media (max-width: 649px){

    header {
        flex-direction: column;
    }
    header h2 {
        font-weight: 400;
        font-size: 1.2rem;
    }
    nav {
        width: 100%;
        /* display: none; */
    }
    h2 {
        padding-right: 0;
    }
    .mobile-nav {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   
    nav ul {
        padding: 0;
    }
      nav ul:first-child{
        border-top: 1px dotted #fad91c;
    }
    nav li {
        display: block;
        text-align: center;
        padding: 0.5em 0;
        border-bottom: 1px dotted #fad91c;
    }
  


    .burger {
        width: 28px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        padding: 0.25em;
        border: 1px dashed #333;
        transform: scale(0.8);
      }
      
      .bar {
        width: 100%;
        height: 1px;
        background-color: #fad91c; /* Color of the burger bars */
      }

      .burger:hover,
      .burger:focus,
      .burger:active {
        border: 1px dashed #fad91c;
      }
   
      

    .hidden {
        display: none;
    }
}





@media (min-width: 650px){

    .blog-container {
        margin-left: 3vw;
        margin-right: 3vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 0.5em;
    }
    .first-blog-post {
        max-height: 700px;
        background-position:center;
    }
    .first-blog-post .date {
        padding-top: 20%;
    }
    .first-blog-post p {
        max-width: 600px;
        font-weight: bold;
    }
    h1 {
        font-size: 1.65rem;
    }
    .burger {
        display: none;
    }
    header h2 {
        font-size: 1.25rem;
    }
    /* media for index3.html*/
    .about-me {
        display: flex;
        align-items: center;
        justify-content: left;
    }
}

    /* css for index2.html*/

    .recent{
        display: flex;
        justify-content: center;
        margin: 0;
    }

   .recent p{
        display: inline-block;
        padding: 0;
        border: none;
        margin: 0;
        font-weight: 900;
        /* text-align: center; */
    }

    .new-blog  {
        margin-top: 0;
        padding: 0 5.5vw 1.5em;
    }

    .new-blog img {
        height: 300px;
        object-fit: cover;
        margin: 2em 0;
    }
    .new-blog p,
    .new-blog h2,
    .new-blog h4 {
        max-width: 600px;
        margin: 0 5vw;
    }





    /*  css for index3.html */

    .about-me p,
    .about-me h2,
    .about-me h4 {
        max-width: 600px;
        margin-right: auto;
    }
    .about-me img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 2.5em 1.5em 5vw;
    }



    /* css for index4.html  & index5.html */

    .contact-me {
        margin: auto;
    }
    label,
    input,
    textarea {
        display: block;
        width: 100%;
        margin: 0.5em 0;
        resize: none;
    }
    button {
        background-color: #333;
        color: #fad91c;
        padding: 1em 3em;
        margin-top: 1em;
        border: 2px solid #fad91c;
    }
    button:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .contact-me h3,
    .create-new-post h3 {
        border: none;
        margin: 0 auto 0.5em;
        width: 100%;
        text-align: center;
        font-weight: 400;
    }
    form {
        margin: 0 auto 1.5em;
        width: 70%;
    }
    .save-btns {
        display: flex;
        justify-content: space-evenly;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    